<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/61055ba173.js" crossorigin="anonymous"></script>
</head>

<header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/restaurants">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
                    width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
                我的餐廳清單
            </a>

            {{#if isAuthenticated}}
            <a href="/users/logout" class="btn btn-outline-light" style="color: black;">Logout</a>
            {{else}}
            <a href="/users/login" class="btn btn-outline-light" style="color: black;">Login</a>
            {{/if}}
        </div>
    </nav>
    
    <div class="banner"></div>
</header>

<body>

    {{{ body }}}

    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.js"></script>  

    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill9/dist/polyfill.js"></script>
</body>
</html>